.h1{
    width: 300px;
    height: 400px;
    background: #2f8141; 
}
.h2{
    width: 571px;
    height: 140px;
    background-color:#13513B ;
}
.h3{
    width: 571px;
    height: 140px;
    background-color: #E624BB;
}
.h4{
    width: 571px;
    height: 140px;
    background-color:#55EF0D ;
}